.aboutme {
    padding: 1vh 25vw;
}

.header {
    font-family: sono-medium;
    text-decoration: underline #0E5E6F;
    text-decoration-thickness: 2px;
}

.text {
    font-family: sono-regular;
}

@media only screen and (max-width: 1200px) {
    .aboutme {
        padding: 0 5%
        
    }
}

