.card {
    border: 0.25rem black solid;
    padding: 1rem;
    background-color: #A4F3DE;
    font-size: 1.25rem;
    width: 75%;
    margin: 0 auto;
}

@media (width <= 1500px) {
    .card {
        width: 100%;
    }
}