.main {
    padding: 1vh 25vw;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    color: #00506c;
}

@media only screen and (max-width: 1200px) {
    .main {
        padding: 0 5%
        
    }
}