.main {
    padding: 1vh 25vw;
    text-align: center;
}

.text {
    font-family: sono-medium;
    text-decoration: underline #0E5E6F;
    text-decoration-thickness: 2px;
}

.links {
    display: flex;
    justify-content: center;
    color: #3A8891;
}