.main {
    padding: 1vh 25vw;
    text-align: center;
}

.text {
    font-family: sono-medium;
    text-decoration: underline #ff7202;
    text-decoration-thickness: 2px;
}

.links {
    display: flex;
    justify-content: center;
}