.main {
    font-family: sono-regular;
}

.header {
    font-family: sono-medium;
    text-decoration: underline #0E5E6F;
    text-decoration-thickness: 2px;
}

.card {
    background-color: #FFEFD6;
}