.main {
    color: #354a54;
    font-family: sono-regular;
}

.header {
    font-family: sono-medium;
    text-decoration: underline #ff7202;
    text-decoration-thickness: 2px;
}

.card {
    background-color: #ffffff3f;
}