.card {
    background-color: #f1f1e6;
    color: #00506c;
    margin: 2rem auto;
    padding: 2.5rem 5rem;
    width: 66%;
    border: 0.5rem solid #00506c;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.list {
    list-style-type: none;
    padding: 0;

}

@media (max-width: 1280px) {
    .card {
        width: 80%;
        padding: 1rem;
    }
}