.introduction {
    display: flex;
    border-left: 0.25rem solid black;
    border-right: 0.25rem solid black;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    background-color: #E8FFA8;
}

.text {
    width: 50%;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
}

.picture {
    width: 50%;
    padding: 1rem 10rem;
    border-left: 0.25rem solid black;
    height: auto;
}

@media (width <= 1280px) {
    .introduction {
        width: 100%;
        outline: none;
    }

    .picture {
        width: 100%;
        padding: 1rem;
        height: auto;
    }
}

@media (width <= 700px) {
    .text {
        width: 100%;
        border-right: none;
    }

    .picture {
        display: none;
    }
}