.introduction {
    display: flex;
    border-left: 0.25rem solid black;
    border-right: 0.25rem solid black;
    width: 75%;
    margin: 0 auto;
    background-color: #E8FFA8;
    align-items: stretch;
}

.text {
    width: 50%;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;
}

.pictureContainer {
    border-left: 0.25rem solid black;
    width: 50%;
    justify-content: center;
    display: flex;
    padding: 1rem;
}

.picture {
        width: 70%;
        height: auto;
}

@media (width <= 1500px) {
    .introduction {
        width: 100%;
        height: fit-content;
    }

    .picture {
        width: 100%;
    }
}

@media (width <= 700px) {
    .text {
        width: 100%;
        border-right: none;
    }

    .pictureContainer {
        display: none;
    }

    .picture {
        display: none;
    }
}