.main {
    background-image: linear-gradient(90deg, #b3e2fc00 0%,#b3e2fc00 82.5%, #ff7202 82.5%, #ff7202 87.5%,#b3e2fc00 87.5%,#b3e2fc00 92.5%, #ff7202 92.5%,#ff7202 97.5%, #b3e2fc00 97.5%, #b3e2fc00 100%);
    min-height: 100vh;
}

.wrapper {
    background-image: linear-gradient(135deg, #b3e2fc00 0%,#b3e2fc00 2.5%, #ff7202 2.5%, #ff7202 7.5%,#b3e2fc00 7.5%,#b3e2fc00 12.5%, #ff7202 12.5%,#ff7202 17.5%, #b3e2fc00 17.5%, #b3e2fc00 100%);
    min-height: 100vh;
}