.main {
    color: #354a54;
    font-family: sono-regular;
}

.card {
    background-color: #ffffff3f;
}

.linkButton {
    margin-top: 1.5vh;
}

.header {
    font-family: sono-medium;
}

.subheader {
    font-family: sono-medium;
    color: #354a54;
}