.card {
    border-right: 0.25rem black solid;
    border-left: 0.25rem black solid;
    border-bottom: 0.25rem black solid;
    padding: 1rem;
    background-color: white;
    font-size: 1.25rem;
    width: 75%;
    margin: 0 auto;
    background-color: #E8FFA8;
}

.project {
    background-color: #E8FFA8;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info {
    background-color: #F5B6F6;
    padding: 1rem;
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;
}

.polaroid {
    background-color: white;
    padding: 1rem 1rem 2.5rem;
    width: fit-content;
    text-align: left;
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;
    display: block;
    margin: 0 auto;
}
.image {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    padding-top: 1rem;
}

.link {
    background-color: #ffdb58;
    width: fit-content;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: #A4F3DE;
    color: black;
}

.linksBackup {
    display: none;
    padding-top: 1rem;
}

@media (max-width: 1280px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .polaroid {
        display: none;
    }

    .linksBackup {
        display: block;
        padding-top: 0;
    }

    .link {
        display: block;
        margin: 0.25rem auto ;
    }
}
