@font-face {
    font-family: sono-regular;
    src: url(../public/fonts/sono/Sono-Regular.ttf);
}

@font-face {
    font-family: sono-bold;
    src: url(../public/fonts/sono/Sono-Bold.ttf);
}

@font-face {
    font-family: sono-extra-bold;
    src: url(../public/fonts/sono/Sono-ExtraBold.ttf);
}

@font-face {
    font-family: sono-extra-light;
    src: url(../public/fonts/sono/Sono-ExtraLight.ttf);
}

@font-face {
    font-family: sono-light;
    src: url(../public/fonts/sono/Sono-Light.ttf);
}

@font-face {
    font-family: sono-medium;
    src: url(../public/fonts/sono/Sono-Medium.ttf);
}

@font-face {
    font-family: sono-semi-bold;
    src: url(../public/fonts/sono/Sono-SemiBold.ttf);
}

@font-face {
    font-family: josefin-bold;
    src: url(../public/fonts/josefin/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: josefin-regular;
    src: url(../public/fonts/josefin/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: josefin-light;
    src: url(../public/fonts/josefin/JosefinSans-Light.ttf);
}

@font-face {
    font-family: josefin-thin;
    src: url(../public/fonts/josefin/JosefinSans-Thin.ttf);
}

@font-face {
    font-family: josefin-semi-bold;
    src: url(../public/fonts/josefin/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: josefin-medium;
    src: url(../public/fonts/josefin/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: josefin-extra-light;
    src: url(../public/fonts/josefin/JosefinSans-ExtraLight.ttf);
}

@font-face {
    font-family: josefin-thin-italic;
    src: url(../public/fonts/josefin/JosefinSans-ThinItalic.ttf);
}

@font-face {
    font-family: josefin-light-italic;
    src: url(../public/fonts/josefin/JosefinSans-LightItalic.ttf);
}

@font-face {
    font-family: josefin-italic;
    src: url(../public/fonts/josefin/JosefinSans-Italic.ttf);
}

@font-face {
    font-family: josefin-bold-italic;
    src: url(../public/fonts/josefin/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: josefin-medium-italic;
    src: url(../public/fonts/josefin/JosefinSans-MediumItalic.ttf);
}

@font-face {
    font-family: josefin-semi-bold-italic;
    src: url(../public/fonts/josefin/JosefinSans-SemiBoldItalic.ttf);
}

@font-face {
    font-family: josefin-extra-light-italic;
    src: url(../public/fonts/josefin/JosefinSans-ExtraLightItalic.ttf);
}

* {
    margin: 0;
    font-family: josefin-regular;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}